@import '../../App.scss';

.login-container {
    min-height: 97vh;
    background-color: $main-bg-color;
    color: $main-text-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-box {
    height: 91vh;
    max-width: 90%;
    margin: 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .login-left {
    flex: 1;
    padding: 24px;
  }
  
  .login-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 33%;
  }
  
  .login-content {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-title {
    font-weight: 500;
    text-align: center;
  }
  
  .login-form {
    width: 100%;
    max-width: 320px;
    margin-top: 32px;
  }
  
  .input-field {
    width: 100%;
    padding: 3%;
    border-radius: 8px;
    font-weight: 500;
    background-color: $main-bg-color;
    border: 1px solid $main-border-color;
    color: #718096;
    font-size: 14px;
    margin-top: 20px;
    outline: none;
    cursor: text;
  }
  
  .input-field:focus {
    border-color: $main-border-focus-color;
    background-color: #fff;
  }
  
  .login-button {
    margin-top: 20px;
    font-weight: 600;
    background-color: #4299e1;
    color: $button-text-color;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    &:hover {
      background-color: $button-hover-bg-color;
    }
    &:disabled {
      background: #ccc;
      cursor: not-allowed;
    }
  }
    
  .login-right {
    flex: 1;
    background-color: #ebf8ff;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
  }
  
  @media (min-width: 768px) {
    .login-right {
      display: block;
    }
  }

  .error {
    color: red;
    height: 24px;
  }
  